<!DOCTYPE html>
  <head>
    <script src="https://use.typekit.net/zmw7ltu.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <title>Garment Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/imgs/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/style/css/main.css" media="all" rel="stylesheet">
  </head>
  <body>

    <header>
      <div class="logo"><a href="/"><img src="/imgs/logo.svg"></a></div>
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="https://www.newsunrising.org/project/the-garment/" target="_blank">Donate</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </nav>
      <div class="mobile-nav">
        <div class="close">
          <img src="/imgs/close.svg" />
        </div>
        <ul>
          <li class="mar-top-24"><a href="/about">About</a></li>
          <li class="mar-top-24"><a href="https://www.classy.org/checkout/donation?eid=119418" target="_blank">Donate</a></li>
          <li class="mar-top-24"><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="mobile-menu">
        <img src="/imgs/menu.svg" />
      </div>
    </header>

    {{{body}}}

    <footer class="bord">
      <div class="container">
        <div class="say-hello">
          <h2 class="title-2 mar-bot-24">Say Hello</h2>
          <p class="email"><a href="mailto:thegarmentproject@gmail.com">thegarmentproject@gmail.com</a></p>
          <p class="mar-top-24 mar-bot-24 rule"><img src="/imgs/red-rule.svg" />
          <p>PO Box 7100</p>
          <p class="mar-top-8 mar-bot-24">Pittsburgh, PA 15212</p>
        </div>
        <div class="get-updates">
          <h2 class="title-2 mar-bot-24">Get Updates</h2>
          <div class="email-form">
            <form action="//thegarmentproject.us15.list-manage.com/subscribe/post?u=d91dad99b633707180c2c8676&amp;id=1763865da4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
              <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
          </div>
          <ul class="nav mar-top-24">
            <li><a href="/about">About</a></li>
            <li><a href="https://www.classy.org/checkout/donation?eid=119418" target="_blank">Donate</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/terms">Terms of Use</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
          <ul class="social mar-top-24">
            <li><a href="https://www.instagram.com/thegarmentproject" target="_blank"><img src="/imgs/instagram.svg"></a></li>
            <li><a href="https://www.facebook.com/thegarmentproject" target="_blank"><img src="/imgs/facebook.svg"></a></li>
          </ul>
        </div>
      </div>
      <p class="mar-top-24"><img src="/imgs/heart.svg" /></p>
      <div id="disclaimer" class="disclaimer pad">
        <p>Disclaimer: The content available through <a href="http://www.garmentproject.org/">www.garmentproject.org</a> and social media channels owned or operated by Garment SHOULD NOT BE CONSIDERED MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT FOR A MEDICAL CONDITION. Garment owners, employees, agents, and independent contractors ARE NOT MEDICAL PROFESSIONALS. Any content made available by Garment is for educational purposes only and Garment is not responsible for information put forth on resources linked onto Garment’s Site or on social media channels owned or operated by Garment. Those seeking medical help for an eating disorder should contact their physician for medical diagnosis and treatment.</p>
      </div>
    </footer>

    <script media="all" src="https://www.youtube.com/iframe_api"></script>
    <script media="all" src="/js/jquery-3.1.1.min.js"></script>
    <script media="all" src="/js/main.js"></script>
    <script>
      var onYouTubeIframeAPIReady = Main.onYouTubeIframeAPIReady;
      $(document).ready(function() {
        Main.init();
      });
    </script>
  </body>
</html>
