    <div class="intro pad">
      <div class="container">
        <h1 class="title-1">FAQ</h1>
        <p class="mar-top-24"><img src="/imgs/red-rule.svg" />
      </div>
    </div>

    <div class="text flex-center pad">
      <div class="container">
        <div class="inner-container">
        <p class="large serif">Why only women?</p>
        <p class="regular mar-top-8">A: Garment was created to help everyone. To start, we chose to help women as the ratio of women to men in treatment for eating disorders ranges from 6:1 to 10:1. We hope to grow and be able to help men in recovery as well.</p>
        <p class="large serif mar-top-48">What is success to Garment?</p>
        <p class="regular mar-top-8">A: Success to The Garment Project is providing women with confidence through clothing, keeping each individual focused on long-term healthy recovery.</p>
        <p class="large serif mar-top-48">Do you accept used clothing donations?</p>
        <p class="regular mar-top-8">A: Garment aims to provide women with new, never worn clothing from corporate sponsors. This helps us maintain an even and manageable inventory.</p>
        <p class="large serif mar-top-48">How can individuals or families contribute?</p>
        <p class="regular mar-top-8">A: If you are able to, please consider a recurring or one-time donation. Your donations will help us provide clothes, reach new treatment facilities, and help more women focus on their success in recovery.</p>
        <p class="large serif mar-top-48">What are ways that a corporation can contribute?</p>
        <p class="regular mar-top-8">A: There are many ways that corporations can contribute to Garment. The first is to provide Garment with donations of new, never worn clothing. The second way to contribute is with a monetary donation. Similarly, the third is to begin a donation match program with your employees. If you are interested in contacting us on behalf of a corporation, please email us at <a href="mailto:thegarmentproject@gmail.com">thegarmentproject@gmail.com</a>.</p>
        <p class="large serif mar-top-48">How are donations processed?</p>
        <p class="regular mar-top-8">A: Garment is currently a fiscally sponsored project of New Sun Rising. Online donations to Garment are securely processed through <a href="https://www.newsunrising.org/project/the-garment/">NSR's website</a>, while checks can be payable to:</p>
        <p class="regular mar-top-24">New Sun Rising<br>ATTN: GARMENT<br>PO BOX 58005<br>Millvale, PA 15209</p>
        <p class="regular mar-top-8">Please save documentation of your receipt for tax purposes.</p>
        <p class="large serif mar-top-48">How can I help if I can't afford to donate?</p>
        <p class="regular mar-top-8">A: Certainly not everyone is able to donate money. If you would like to help Garment, but are not able to donate, please spread the word about our organization. Awareness about eating disorders is terribly low considering how prevalent the illnesses are. Be a good role model for your peers and do your best to educate yourself on how you can help someone who is struggling. For more, reach out to us on social media.</p>
        <p class="large serif mar-top-48">Looking for help?</p>
        <p class="regular mar-top-8">A: Garment is not a team of trained mental health professionals and does not provide direct mental health services. If you or someone you know is struggling, help is just a call or click away.</p>
        <p class="regular">
          <ul class="mar-top-24 bullet">
            <li class="mar-top-8">Call NEDA’s toll free, confidential Helpline at 1-800-931-2237</li>
            <li class="mar-top-8">For crisis situations, text "NEDA" to 741741 to be connected with a trained volunteer at NEDA’s Crisis Text Line</li>
            <li class="mar-top-8">For more options and information, please visit <a href="https://www.nationaleatingdisorders.org/find-help-support" target="_blank">NEDA’s support page</a>.</li>
          </ul>
        </p>
        <p class="large serif mar-top-48">Have a question for us?</p>
        <p class="regular mar-top-8">A: Send us an email! All emails can be directed to: <a href="mailto:thegarmentproject@gmail.com">thegarmentproject@gmail.com</a></p>
        <p class="large serif mar-top-48">Want to send us some snail mail?</p>
        <p class="regular mar-top-8">We’d love to hear from you! Please send donations, letters, and other correspondence to:</p>
        <p class="regular mar-top-24">The Garment Project<br>PO Box 7100<br>Pittsburgh, PA 15212</p>
        </div>
      </div>
    </div>