{{#if messages}}
<div class="error">
  {{#if messages.info}}
    <p>{{{flashMessages messages.info}}}</p>
    <p class="close"><img src="/imgs/close.svg" /></p>
  {{/if}}
  {{#if messages.success}}
    <p>{{{flashMessages messages.success}}}</p>
    <p class="close"><img src="/imgs/close.svg" /></p>
  {{/if}}
  {{#if messages.warning}}
    <p>{{{flashMessages messages.warning}}}</p>
    <p class="close"><img src="/imgs/close.svg" /></p>
  {{/if}}
  {{#if messages.error}}
    <p>{{{flashMessages messages.error}}}</p>
    <p class="close"><img src="/imgs/close.svg" /></p>
  {{/if}}
</div>
{{/if}}
