<header>
  <div class="logo"><a href="/"><img src="/imgs/logo.svg"></a></div>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="https://www.newsunrising.org/project/the-garment/" target="_blank">Donate</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </nav>
  <div class="mobile-nav">
    <div class="close">
      <img src="/imgs/close.svg" />
    </div>
    <ul>
      <li class="mar-top-24"><a href="/about">About</a></li>
      <li class="mar-top-24"><a href="https://www.newsunrising.org/project/the-garment/" target="_blank">Donate</a></li>
      <li class="mar-top-24"><a href="/faq">FAQ</a></li>
    </ul>
  </div>
  <div class="mobile-menu">
    <img src="/imgs/menu.svg" />
  </div>
</header>